.container {
  /* background-color: orange; */
  margin: 0px auto;
  max-width: 1000px;
  padding: 15px;
  text-align: center;
}

.container p {
  max-width: 700px;
  margin: auto;
}
.form {
  margin: 0 auto;
  display: grid;
  max-width: 700px;
}
.input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: 0px;
  outline: none;
  transition: 0.15s;
  border: 2px solid #3d5467;
  border-radius: 10px;
  padding-left: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
.input:active {
  border: 2px solid grey;
}
/* .formControl:active {
  max-width: 300px;
  border: 2px solid red;
} */
.textarea {
  padding-top: 5px;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border-color: transparent;
  box-shadow: 0px;
  outline: none;
  transition: 0.15s;
  border: 2px solid #3d5467;
  border-radius: 10px;
  padding-left: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.formcontrol {
  margin-bottom: 10px;
}

.container h1 {
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.container p {
  color: #3d5467;
  margin-bottom: 10px;
  letter-spacing: 0.25px;
}

.submitbutton {
  border: none;
  height: 40px;
  border: 2px solid #3d5467;
  background-color: white;
  color: #3d5467;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  border-radius: 10px;
}

.submitbutton:hover {
  background-color: #3d5467;
  color: white;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
