@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #fefaf7;
  color: #333;
  font-family: "Nunito";
}
a {
  color: #333;
  text-decoration: none;
}

nav {
  margin: 10px 0 0 80px;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  /* margin-right: auto; */
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.hero {
  height: 90vh;
  width: 100%;
  background-image: url("/background2.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.hero h1 {
  color: white;
  /* text-shadow: rgba(10, 16, 37, 0.566) 25px 0 20px; */
}
.hero img {
  width: 150px;
  height: 150px;
}

.hero-para {
  background-color: #f1edee;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-para p {
  max-width: 700px;
  font-size: 20px;
}
@media screen and (min-width: 980px) {
  .hero h1 {
    color: black;
  }
}

#about {
  padding-top: 25px;
  background-color: white;
}
.about {
  padding: 0 15px 0 15px;
  margin: 0 auto;
  max-width: 1080px;
}

.about h3 {
  color: #fe4056;
}

.about h1 {
  font-weight: bolder;
  font-size: 40px;
}

.infos {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-bottom: 20px;
}
@media screen and (min-width: 550px) {
  .infos {
    grid-template-columns: repeat(2, 1fr);
  }
}
.info-detail {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.info-detail .icons {
  color: #fe4056;
}
.info-detail .title {
  font-weight: bolder;
  padding-right: 5px;
  padding-left: 5px;
}

.info-detail a {
  text-decoration: none;
  background-color: #fe4056;
  border: none;
  color: white;
  padding: 20px;
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

/* expriance icon style  */
.icons {
  color: rgba(230, 197, 10, 0.863);
  padding-right: 5px;
}
.star {
  /* color: gold; */
  padding-right: 10px;
}
