.referancesContainer {
  padding-top: 40px;
  background-color: white;
  padding-bottom: 15px;
}
.referancesContainer h1 {
  text-align: center;
}
.wrap {
  display: flex;
  justify-content: center;
}
.referances {
  display: grid;
  margin: 0 auto;
  max-width: 1080px;
}

.referances h1 {
  text-align: center;
}

.section {
  justify-self: center;
  padding-left: 15px;
  box-shadow: 1px 1px 5px 5px rgb(237, 231, 231);
}
.imageContainer {
  justify-self: center;
  margin-top: 100px;
  background-color: #729ea1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
.image {
  position: absolute;
  height: 160px;
  width: 160px;
  top: -90px;
  right: -25px;
}

@media screen and (min-width: 518px) {
  .referances {
    display: flex;
    justify-content: space-around;
  }
}
